:root {
  --gray: #d9d9d9;
}
* {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  min-width: 320px;
  min-height: 900px;
  margin: 0 auto;
  gap: 16px;
}

/* header */
.header {
  flex: 1 0 auto;
  height: 100px;
  padding: 32px;
  background-color: var(--gray);
}

.header__logo {
  margin: 0;
}

/* container: sidebar + main */
.container {
  flex: 1 1 auto;
  display: flex;
  gap: 16px;
  background: red;
}

/* sidebar */
.sidebar {
  width: 200px;
  flex: 1 1 auto;
  padding: 32px;
  background-color: var(--gray);
}

/* main- posts */
.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
  background-color: var(--gray);
}

.post__item {
  padding: 32px;
  background-color: #fff;
}

/* footer */
.footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  padding: 32px;
  background-color: var(--gray);
}

/* 반응형 - 태블릿 */
@media (max-width: 1023px) {
  .posts {
  }
  .post__item {
  }
}

/* 반응형 - 모바일 */
@media (max-width: 767px) {
  .post__item {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}
