* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.wrap {
  display: grid;
  gap: 16px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

header,
aside,
footer {
  background-color: #d9d9d9;
  font-size: 17px;
}

header {
  height: 100px;
  margin-top: 30px;
  padding: 32px 0 0 32px;
}

footer {
  height: 100px;
  padding: 32px 0 0 32px;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  min-height: 668px;
}

.main .sidebar {
  padding: 32px 0 0 32px;
  background-color: #d9d9d9;
}

.main .posting-list {
  height: 100%;
  display: grid;
  gap: 16px;
  padding: 32px;
  background-color: #d9d9d9;
}

.main .posting-list .posting-item {
  background-color: white;
  padding: 32px;
}

@media only screen and (max-width: 1023px) {
  .main .posting-list {
    grid-template: repeat(2, minmax(auto, 1fr)) / 1fr 1fr;
  }
}

@media only screen and (max-width: 767px) {
  header,
  footer {
    padding-left: 16px;
  }

  .main {
    display: block;
  }

  .main .posting-list {
    padding: 16px;
  }

  .main .sidebar {
    display: none;
  }

  .main .posting-list {
    grid-template: auto / 1fr;
  }

  .main .posting-list .posting-item {
    padding: 32px 16px;
  }
}
