*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

#wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap .container {
  display: grid;
  grid-template-columns: 1fr 628px auto;
  height: 783px;
  width: 1200px;
}

#header {
  order: 1;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  background-color: rgba(99, 110, 114, 0.1);;
}

#header h1 {
  display: none;
}

#header .tab-btn {
  padding: 8px;
  border-radius: 4px;
}

#header .tab-btn.selected {
  background-color: #636E72;
  border-radius: 4px;
}

#header .tab-btn svg {
  width: 24px;
  color: #636E72;
}

#header .tab-btn.selected svg {
  color: #D9D9D9;
}


#main {
  display: flex;
}

.featured-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background.png');
}

.featured-image .name {
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.featured-image .job {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.featured-image .job .role {
  font-weight: 500;
}

#main .tab-content.hide {
  display: none;
}

#main .tab-content {
  width: 100%;
}

#main .info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 32px;
}

#main .tab-content .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5em;
  color: #636E72;
  display: flex;
  align-items: center;
  gap: 16px;
}

#main .tab-content .title::after {
  content: '';
  flex: 1 1 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #636E72;
}


#main .info-section .info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main .info-section .info-list .info-item {
  display: flex;
}

#main .info-section .info-list .info-item .label {
  flex: 0 1 100px;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.3em;
  color: #636E72;
}

#main .info-section .info-list .info-item .value {
  flex: 1 1 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #636E72;
}


#main .gallery-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  overflow: auto;
  
}

#main .gallery-section .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

#main .gallery-section .photo {
  position: relative;
  cursor: pointer;
}

#main .gallery-section .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

#main .gallery-section .photo .info {
  display: none;
}

#main .gallery-section .photo:hover .info {
  position: absolute;
  display: block;
  width: calc(100% - 20px);
  bottom: 10px;
  left: 10px;
  background-color: white;
  z-index: 10;
  padding: 10px 10.5px;
}

#main .gallery-section .photo:hover .photo-description {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
}

#main .gallery-section .photo:hover .photo-date {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #AAAAAA;
}