
body {
  margin: 0;
  height: 100vh;
  padding: 0;
}

.header, .side-bar, .posting, .footer, .container, .main, .posting {
  box-sizing: border-box;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.section-title {
  font-weight: 400;
  font-size: 20px
}

.container {
  max-width: 960px;
  height: 100vh;

  margin: 0 auto;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  padding: 32px;
  margin-bottom: 16px;
  background-color: #D9D9D9;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.side-bar {
  width: 200px;
  padding: 32px;
  margin-right: 16px;
  background-color: #D9D9D9;
}

.posting-section {
  display: flex;
  gap: 16px;
  flex-direction: column;

  width: 100%;
  padding: 32px;  
  background-color: #D9D9D9;

}

.posting {
  flex: 1 1 auto; 
  padding: 32px;
  background-color: #FFFFFF;
}

.footer {
  padding: 32px;
  background-color: #D9D9D9;
}

@media (max-width:1023px)  {
  .posting-section {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .posting {
    flex: 1 1 calc(50% - 64px);
    height: 50%;
  }
}


@media (max-width: 767px) {
  .side-bar {
    display: none;
  }

  .posting-section {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

