.placeholder {
  overflow: hidden;
  box-shadow: 0.625rem 0.625rem 1.25rem 0.313rem rgba(0, 0, 0, 0.1);
}

.placeholder:empty {
  animation: 2s loadingAnimation forwards infinite linear;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 28%, #eeeeee 53%);
  background-size: 100%;
}

@keyframes loadingAnimation {
  0% {
    background-position: -12.5rem 0;
  }
  100% {
    background-position: 12.5rem 0;
  }
}
