#main {
  flex: 1 1 70rem;
  background-color: #fff;
}

@media (max-width: 1023px) {
  #main {
    flex: 1 1 45.3rem;
  }
}

.tab-container {
  display: flex;
  height: 100%;
}

/* tab-navigation */
.tab-navigation {
  order: 2;

  padding: 3.2rem 1.6rem;
  min-width: 7.2rem;
  background-color: rgba(99, 110, 114, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.tab-navigation > button {
  width: 4rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  line-height: 0;
  color: #636e72;
}

.tab-navigation > button.active {
  background-color: #636e72;
  color: #fff;
}

.tab-navigation > button svg {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 1023px) {
  .tab-container {
    flex-direction: column;
  }

  .tab-navigation {
    order: 1;
    padding: 0.8rem;

    height: 5.6rem;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .tab-navigation {
    max-height: 5.6rem;
  }

  .tab-navigation button {
    flex: 1 1 auto;
  }
}

.tab-wrapper {
  order: 1;
  padding: 3.2rem;
  width: 100%;
  height: 100%;
  color: #636e72;

  display: flex;
  align-items: center;
}

.tab-wrapper > .tab-content {
  display: none;
}

.tab-wrapper > .tab-content.active {
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .tab-wrapper {
    align-items: flex-start;
    min-height: 32rem;
  }
}

/* porfile */
#main .tab-wrapper .title {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.5em;
}

.title::after {
  flex: 1 1 auto;
  content: "";
  display: block;
  height: 0.1rem;
  background: #636e72;
}

#profile .profile-content > li {
  height: 2rem;
  font-size: 1.3rem;
  line-height: 150%;
  margin-bottom: 1.6rem;
  list-style: none;
}

#profile .profile-content .profile-head {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.3em;
  min-width: 10rem;
}

#profile .profile-content .profile-head i {
  font-style: normal;
}

#profile .profile-content .profile-data {
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media (max-width: 767px) {
  #profile .profile-content {
    height: 1.8rem;
    font-size: 1.2rem;
    margin-bottom: 1.9rem;
  }

  #profile .profile-content .profile-head {
    min-width: 2rem;
  }

  #profile .profile-content .profile-head i {
    display: none;
  }

  #profile .profile-content .profile-data {
    font-size: 1.4rem;
  }
}

/* gallery */
.tab-wrapper:has(#gallery.active) {
  align-items: flex-start;
}

#gallery {
  max-height: calc(78.3rem - 3.2rem - 3.2rem);
  overflow-y: auto;
}

@media (max-width: 767px) {
  #gallery {
    overflow-y: initial;
  }
}

#image-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25rem 1fr;
}

@media (max-width: 1023px) {
  #image-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  #image-area {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 20rem;
  }
}

/* placeholder */

.placeholder {
  position: relative;
}

.placeholder img {
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
  width: 100%;
  height: 100%;
}

.img-description-wrap {
  display: none;
}

.placeholder:hover .img-description-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;

  padding: 1rem;
  position: absolute;
  height: 5rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: #fff;
}

@media (max-width: 767px) {
  .placeholder:hover .img-description-wrap {
    left: 1.434rem;
    right: 1.434rem;
  }
}

.placeholder:hover .img-description-content {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #000;
  width: 100%;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder:hover .img-description-date {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #aaa;
  width: 100%;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
