* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spoqa Han Sans Neo, 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.28px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 모바일 사이즈 */

body {
    width: 320px;
    height: 960px;
    margin: 0 auto;
    padding: 14px 0;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

/* header */

.header {
    height: 100px;
    background-color: #d9d9d9;
}

.header h1 {
    padding-top: 32px;
    padding-left: 16px;
}

/* main 영역 */

.main-container {
    margin-top: 16px;
}

.sidebar {
    display: none;
}

.main h2 {
    display: none;
}

.main ul {
    padding: 16px;
    background-color: #d9d9d9;
    list-style: none;
}

.main li {
    height: 147px;
    padding-top: 32px;
    padding-left: 16px;
    background-color: #ffffff;
}
.main li:not(:first-child) {
    margin-top: 16px;
}

/* footer */

.footer {
    height: 100px;
    margin-top: 16px;
    background-color: #d9d9d9;
}

.footer h2 {
    padding-top: 32px;
    padding-left: 16px;
}

/* 테블릿 사이즈 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    * {
        font-size: 20px;
        line-height: 25.04px;
    }
    body {
        width: 768px;
    }

    .header h1 {
        padding-left: 32px;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
    }

    .sidebar {
        display: block;
        width: 200px;
        background-color: #d9d9d9;
    }

    .sidebar h2 {
        padding-top: 32px;
        padding-left: 32px;
    }

    .main {
        width: 520px;
    }

    .main ul {
        display: flex;
        flex-wrap: wrap;
        padding: 32px;
    }

    .main ul li {
        width: 220px;
        height: 294px;
        padding-left: 32px;
    }

    .main ul li:nth-child(2n) {
        margin-left: 16px;
    }

    .main ul li:nth-child(2) {
        margin-top: 0;
    }

    .footer h2 {
        padding-left: 32px;
    }
}

/* 데스크톱 사이즈 */

@media screen and (min-width: 1024px) {
    * {
        font-size: 20px;
        line-height: 25.04px;
    }
    body {
        width: 960px;
    }

    .header h1 {
        padding-left: 32px;
    }

    .main-container {
        display: flex;
    }

    .sidebar {
        display: block;
        width: 200px;
        background-color: #d9d9d9;
    }

    .sidebar h2 {
        padding-top: 32px;
        padding-left: 32px;
    }

    .main {
        width: 744px;
        margin-left: 16px;
    }

    .main ul {
        padding: 32px;
    }

    .main ul li {
        width: 680px;
        height: 139px;
        padding-top: 32px;
        padding-left: 32px;
    }

    .footer h2 {
        padding-top: 32px;
        padding-left: 32px;
    }
}
