.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px;
  height: 50px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.2em;
}

.input:hover {
  background: #FAFAFA;
  border: 1px solid #555;
}

.input:focus {
  outline: none;
  border: 1px solid #000;
}

.input ~ .error-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url(../images/error.svg) no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.validation-detected .input:valid {
  border: 1px solid #000;
}

.validation-detected .input:invalid {
  background: #FFF9F9;
  border: 1px solid #AC0000;
}

.validation-detected .input:invalid::placeholder {
  color: #AC0000;
}

.validation-detected .input:invalid ~ .error-icon {
  display: block;
}

.input::placeholder {
  color: #888;
}

.input-group {
  position: relative;
}

.input-group .input {
  width: 100%;
}

textarea.input {
  height: auto;
  padding: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #636E72;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.05em;
  color: #fff;
}

.button:hover {
  background: #43565C;
}

.button:focus {
  background: #43565C;
}
