/* common */
*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.screen-reader-text {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal;
  overflow: hidden;
}

/* keyframes */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* wrap */
#wrap {
  display: flex;
  max-width: 1200px;
  width: 100%;
  max-height: 783px;
  height: 100vh;
}

@media (max-width: 767px) {
  #wrap {
    flex-direction: column;
    align-self: flex-start;
    max-height: initial;
    height: initial;
    min-height: 100vh;
  }
}

/* header */
#header {
  flex: 0 0 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: #fff;

  /* background: 색상 경로 반복 위치 / 크기 */
  background: #D9D9D9 url('./images/header-background.jpg') no-repeat center / cover;
}

@media (max-width: 1023px) {
  #header {
    flex-basis: 250px;
  }
}

@media (max-width: 767px) {
  #header {
    flex-basis: 200px;
  }
}

#header .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #header .title {
    font-size: 20px;
  }
}

#header .description {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767px) {
  #header .description {
    font-size: 16px;
  }
}

#header .description strong {
  font-weight: 500;
}

/* main */
#main {
  flex: 1 1 auto;
  display: flex;
  background-color: #fff;
}

@media (max-width: 1023px) {
  #main {
    flex-direction: column;
  }
}

#main .navigation {
  flex: 0 0 72px;
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  background-color: rgba(99, 110, 114, 0.1);
}

@media (max-width: 1023px) {
  #main .navigation {
    flex-basis: auto;
    order: 0;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
  }
}

#main .navigation .button {
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: #636E72;
  line-height: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  #main .navigation .button {
    flex: 1 1 0px;
    width: auto;
  }
}

#main .navigation .button svg {
  width: 24px;
  height: 24px;
}

#main .navigation .button.active {
  background-color: #636e72;
  color: #fff;
}

#main .container {
  flex: 1 1 auto;
  overflow: hidden auto;
}

#main .container .tab-content {
  display: none;
  flex: 0 0 auto;
}

#main .container .tab-content.active {
  display: flex;
}

@media (min-width: 1024px) {
  .tab-content.active {
    animation: fadeIn 0.5s;
  }
}

#main .container .section-title {
  flex: 0 0 auto;
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #636e72;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

#main .container .section-title::after {
  content: '';
  flex: 1 1 auto;
  display: block;
  height: 1px;
  background-color: #636e72;
}

#main .container .about-section {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  min-height: 100%;
}

#main .container .about-section .about {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main .container .about-section .about li {
  display: flex;
  font-size: 13px;
  line-height: 150%;
  color: #636E72;
}

#main .container .about-section .about li .name {
  flex: 0 0 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

@media (max-width: 767px) {
  #main .container .about-section .about li .name {
    flex-basis: 24px;
    font-size: 12px;
  }
}

#main .container .about-section .about li .name i {
  font-style: normal;
}

@media (max-width: 767px) {
  #main .container .about-section .about li .name i {
    display: none;
  }
}

#main .container .about-section .about li .value {
  flex: 1 1 auto;
  font-weight: 400;
  letter-spacing: 0.1em;
  word-break: break-all;
}

@media (max-width: 767px) {
  #main .container .about-section .about li .value {
    font-size: 14px;
  }
}

#main .container .about-section .about li .value a {
  color: inherit;
  text-decoration: none;
}

#main .container .gallery-section {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  min-height: 100%;
}

#main .container .gallery-section .gallery {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 1023px) {
  #main .container .gallery-section .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  #main .container .gallery-section .gallery {
    grid-template-columns: 1fr;
  }
}

#main .container .gallery-section .gallery figure {
  position: relative;
  margin: 0;
}

#main .container .gallery-section .gallery figure picture {
  display: block;
}

#main .container .gallery-section .gallery figure picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}

#main .container .gallery-section .gallery figcaption {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  width: calc(100% - 10px - 10px);
  background-color: #fff;
}

#main .container .gallery-section .gallery figcaption strong {
  font-weight: 700;
  font-size: 11px;
  color: #000;
  line-height: 13px;

  /* 말줄임 처리 */
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#main .container .gallery-section .gallery figcaption span {
  margin-top: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #aaa;

  /* 말줄임 처리 */
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#main .container .gallery-section .gallery figure:hover figcaption {
  display: block;
  animation: fadeIn 0.5s;
}
