.dummy-line {
  border-bottom: 1px solid #636e72;
  flex-grow: 1;
}

.tab-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab-btn img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.wrap {
  --max-width: 1200px;
  max-width: calc(var(--max-width) + 32px + 32px);
  padding: 0 32px;
  width: 100%;
  margin: 88.5px auto;
}

#main {
  display: flex;
}

.thumbnail {
  width: 500px;
  position: relative;
}

.thumbnail-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.thumbnail-content .name {
  font-size: 30px;
}

.thumbnail-content .sub-description {
  font-size: 18px;
}

.tab-side {
  display: flex;
  flex-grow: 1;
}

.tab-navigation {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 72px;
  padding: 32px 16px;
  background-color: rgba(99, 110, 114, 0.1);
}

.tab {
  flex: 1 1 auto;
  min-width: 300px;
}

.inner {
  padding: 32px;
}

#tab-1 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab-1-content {
  flex-grow: 1;
  color: #636e72;
}

.tab-1-content .tab-title {
  font-size: 14px;
  letter-spacing: 0.5em;
  margin-bottom: 32px;
}

.description-item {
  display: flex;
  font-size: 13px;
}

.description-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.description-title {
  flex-basis: 100px;
  letter-spacing: 0.3em;
}

/* 테블릿 */
@media (max-width: 1023px) {
  .thumbnail {
    width: 250px;
  }

  .tab-side {
    flex-direction: column;
  }

  .tab-navigation {
    flex-direction: row;
    justify-content: flex-end;
    order: 0;
    width: 100%;
    height: 56px;
    padding: 8px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .wrap {
    padding: 0;
  }

  #main {
    flex-direction: column;
  }

  .thumbnail {
    width: 100%;
    height: 200px;
  }

  .tab-btn {
    flex: 1 1 0;
  }
}
