.wrap {
  --max-width: 700px;
  max-width: calc(var(--max-width) + 32px + 32px);
  padding: 0 32px;
  width: 100%;
  margin: 88.5px auto;
}

#main {
  display: flex;
}

.tab-navigation {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 72px;
  padding: 32px 16px;
  background-color: rgba(99, 110, 114, 0.1);
}

.thumbnail {
  width: 500px;
  position: relative;
}

.thumbnail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.thumbnail-content .name {
  font-size: 30px;
}

.thumbnail-content .sub-description {
  font-size: 18px;
}

/* 테블릿 */
@media (max-width: 1023px) {
}

/* 모바일 */
@media (max-width: 767px) {
}
