.wrap {
  --max-width: 700px;
  max-width: calc(var(--max-width) + 32px + 32px);
  padding: 0 32px;
  width: 100%;
  margin: 88.5px auto;
}

/* 테블릿 */
@media (max-width: 1023px) {
}

/* 모바일 */
@media (max-width: 767px) {
}
