#tab-1 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab-1-content {
  flex-grow: 1;
  color: #636e72;
}

.tab-1-content .tab-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5em;
  margin-bottom: 32px;
}

.description-item {
  display: flex;
  font-size: 13px;
}

.description-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.description-title {
  font-weight: 500;
  flex-basis: 100px;
  letter-spacing: 0.3em;
}
