*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "AppleSDGothicNeo", "Malgun Gothic", sans-serif;
  font-size: 16px;
  line-height: 160%;
}

h2, h3, h4 {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}

.box {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}
@media (min-width: 320px) {
  .box {
    width: 320px;
  }
}
@media (min-width: 320px) and (min-height: 402px) {
  .box {
    height: 502px;
  }
}
@media (min-width: 320px) and (min-height: 616px) {
  .box {
    height: 716px;
  }
}
@media (min-width: 768px) {
  .box {
    width: 768px;
    height: 1024px;
  }
}
@media (min-width: 1024px) {
  .box {
    width: 1440px;
    height: 960px;
  }
}
.box #header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0;
}
.box #header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) {
  .box #header .header-wrapper {
    width: 320px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .box #header .header-wrapper {
    width: 704px;
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .box #header .header-wrapper {
    width: 1200px;
    height: 100px;
  }
}
.box #header .header-wrapper__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #2D3436;
}
@media (min-width: 320px) {
  .box #header .header-wrapper__title {
    width: 49px;
    height: 19px;
  }
}
@media (min-width: 768px) {
  .box #header .header-wrapper__title {
    width: 73px;
    height: 29px;
  }
}
@media (min-width: 1024px) {
  .box #header .header-wrapper__title {
    width: 81px;
    height: 32px;
  }
}
.box #header .header-wrapper .navigation {
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (min-width: 320px) {
  .box #header .header-wrapper .navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .box #header .header-wrapper .navigation {
    display: none;
  }
}
@media (min-width: 1024px) {
  .box #header .header-wrapper .navigation {
    display: flex;
    width: 157px;
    height: 22px;
  }
}
@media (min-width: 1024px) {
  .box #header .header-wrapper .navigation__about {
    width: 52px;
    height: 22px;
  }
}
@media (min-width: 1024px) {
  .box #header .header-wrapper .navigation__timeline {
    width: 65px;
    height: 22px;
  }
}
.box #header .header-wrapper .navigation--btn {
  background-color: white;
  border: 0;
}
.box #header .header-wrapper .navigation__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* primary */
  color: #2D3436;
}
.box #header .header-wrapper .navigation__text--bold {
  font-weight: 900;
}
.box #header .header-wrapper__btn {
  background-color: white;
  border: 0;
}
@media (min-width: 1024px) {
  .box #header .header-wrapper__btn {
    display: none;
  }
}
.box #header .header-wrapper__menu {
  width: 24px;
  height: 24px;
}
.box .main {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 320px) {
  .box .main {
    width: 320px;
    padding: 100px 16px;
  }
}
@media (min-width: 320px) and (min-height: 402px) {
  .box .main {
    height: 402px;
  }
}
@media (min-width: 320px) and (min-height: 616px) {
  .box .main {
    height: 616px;
  }
}
@media (min-width: 768px) {
  .box .main {
    padding: 100px 32px;
    width: 768px;
    height: 854px;
  }
}
@media (min-width: 1024px) {
  .box .main {
    width: 1440px;
    height: 760px;
  }
}
.box .main .about-container {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) {
  .box .main .about-container {
    width: 288px;
    height: 202px;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .box .main .about-container {
    width: 768px;
    height: 854px;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container {
    width: 1200px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
}
.box .main .about-container .introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
@media (min-width: 320px) {
  .box .main .about-container .introduce {
    width: 288px;
    height: 106px;
  }
}
@media (min-width: 768px) {
  .box .main .about-container .introduce {
    width: 438px;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce {
    width: 600px;
    height: 760px;
  }
}
.box .main .about-container .introduce__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #2D3436;
}
@media (min-width: 320px) {
  .box .main .about-container .introduce__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .box .main .about-container .introduce__title {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce__title {
    font-size: 28px;
  }
}
.box .main .about-container .introduce__bold {
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* identical to box height, or 45px */
}
.box .main .about-container .introduce__bold--color {
  /* Coral */
  color: #FF7F50;
}
@media (min-width: 320px) {
  .box .main .about-container .introduce__bold {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .box .main .about-container .introduce__bold {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce__bold {
    font-size: 28px;
  }
}
.box .main .about-container .introduce__content {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #2D3436;
}
@media (min-width: 320px) {
  .box .main .about-container .introduce__content {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .box .main .about-container .introduce__content {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce__content {
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  .box .main .about-container .introduce__title-box {
    width: 225px;
    height: 54px;
  }
}
@media (min-width: 768px) {
  .box .main .about-container .introduce__title-box {
    width: 270px;
    height: 64px;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce__title-box {
    width: 315px;
    height: 83px;
  }
}
@media (min-width: 320px) {
  .box .main .about-container .introduce__title-box__icon {
    width: 14px;
    height: 22px;
  }
  .box .main .about-container .introduce__title-box__title {
    width: 225px;
    height: 32px;
  }
  .box .main .about-container .introduce__title-box__content {
    width: 180px;
    height: 44px;
  }
}
@media (min-width: 1024px) {
  .box .main .about-container .introduce__title-box__icon {
    width: 24px;
    height: 38px;
  }
  .box .main .about-container .introduce__title-box__title {
    width: 315px;
    height: 45px;
  }
  .box .main .about-container .introduce__title-box__content {
    width: 206px;
    height: 52px;
  }
}
.box .main .about-container .skil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box .main .about-container .skil .skil-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 320px) {
  .box .main .about-container .skil .skil-icon {
    width: 288px;
    gap: 8px;
  }
  .box .main .about-container .skil .skil-icon__icon {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 768px), (min-width: 1024px) {
  .box .main .about-container .skil .skil-icon {
    width: 188px;
    gap: 16px;
    flex-wrap: wrap;
  }
  .box .main .about-container .skil .skil-icon__icon {
    width: 35px;
    height: 35px;
  }
}
.box .main .timeline-container {
  display: none;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .box .main .timeline-container {
    width: 1440px;
    height: 699px;
  }
}
.box .main .timeline-container .timeline-wrapper {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 768px) {
  .box .main .timeline-container .timeline-wrapper {
    display: block;
  }
}
@media (min-width: 1024px) {
  .box .main .timeline-container .timeline-wrapper {
    width: 1200px;
    height: 499px;
  }
}
@media (min-width: 768px) {
  .box .main .timeline-container .timeline-wrapper-title {
    padding-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .box .main .timeline-container .timeline-wrapper-title {
    width: 592px;
    height: 71px;
  }
}
.box .main .timeline-container .timeline-wrapper-title__sub-title {
  width: 75px;
  height: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* Coral */
  color: #FF7F50;
}
.box .main .timeline-container .timeline-wrapper-title__main-title {
  width: 134px;
  height: 45px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  /* identical to box height, or 45px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* primary */
  color: #2D3436;
}
.box .main .timeline-container .timeline-wrapper-history {
  display: grid;
  grid-template-columns: 150px 426px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 32px;
}
@media (min-width: 1024px) {
  .box .main .timeline-container .timeline-wrapper-history {
    width: 592px;
    height: 499px;
  }
}
.box .main .timeline-container .timeline-wrapper-history__year {
  box-sizing: border-box;
  padding: 4px 0px;
  /* primary */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  border-right: 1px solid #636E72;
  letter-spacing: -0.02em;
  color: #2D3436;
}
.box .main .timeline-container .timeline-wrapper-history__contents {
  padding: 4px 0px;
}
.box .main .timeline-container .timeline-wrapper-history__title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  /* primary */
  color: #2D3436;
}
@media (min-width: 1024px) {
  .box .main .timeline-container .timeline-wrapper-history__title {
    height: 26px;
  }
}
.box .main .timeline-container .timeline-wrapper-history__content {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  /* secondary */
  color: #636E72;
}
.box .mobile-main {
  display: none;
  width: 320px;
  height: 1056px;
  padding: 100px 16px;
  position: relative;
}
.box .mobile-main .timeline-container-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 1056px;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile {
  display: flex;
  gap: 32px;
  width: 288px;
  height: 874px;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-title {
  width: 288px;
  height: 60px;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-title__sub-title {
  width: 66px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* Coral */
  color: #FF7F50;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-title__main-title {
  width: 89px;
  height: 38px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* identical to box height, or 45px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* primary */
  color: #2D3436;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history {
  display: grid;
  grid-template-columns: 150px 426px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 32px;
}
@media (min-width: 1024px) {
  .box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history {
    width: 592px;
    height: 499px;
  }
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history__year {
  box-sizing: border-box;
  padding: 4px 0px;
  /* primary */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  border-right: 1px solid #636E72;
  letter-spacing: -0.02em;
  color: #2D3436;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history__contents {
  padding: 4px 0px;
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history__title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  /* primary */
  color: #2D3436;
}
@media (min-width: 1024px) {
  .box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history__title {
    height: 26px;
  }
}
.box .mobile-main .timeline-container-mobile .timeline-wrapper-mobile-history__content {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  /* secondary */
  color: #636E72;
}
.box .main::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.05;
}
@media (min-width: 320px) and (min-height: 402px) {
  .box .main::after {
    width: 320px;
    height: 402px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/bg/bg-mobile-402.png");
  }
  @supports (background-image: url("../assets/images/bg/bg-mobile-402.webp")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg-mobile-402.webp");
    }
  }
  @supports (background-image: url("../assets/images/bg/bg-mobile-402.avif")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg-mobile-402.avif");
    }
  }
}
@media (min-width: 320px) and (min-height: 616px) {
  .box .main::after {
    width: 320px;
    height: 616px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/bg/bg-mobile-616.png");
  }
  @supports (background-image: url("../assets/images/bg/bg-mobile-616.webp")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg-mobile-616.webp");
    }
  }
  @supports (background-image: url("../assets/images/bg/bg-mobile-616.avif")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg-mobile-616.avif");
    }
  }
}
@media (min-width: 768px) {
  .box .main::after {
    width: 768px;
    height: 855px;
    left: calc(50% - 384px);
    top: calc(50% - 427.5px + 0.5px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/images/bg/bg-tablet.png");
  }
  @supports (background-image: url("../assets/images/bg/bg-tablet.webp")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg-tablet.webp");
    }
  }
  @supports (background-image: url("../assets/images/bg/bg-tablet.avif")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg.avif");
    }
  }
}
@media (min-width: 1024px) {
  .box .main::after {
    width: 1440px;
    height: 760px;
    left: 0;
    top: 0;
    background-image: url("../assets/images/bg/bg.png");
  }
  @supports (background-image: url("../assets/images/bg/bg.webp")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg.webp");
    }
  }
  @supports (background-image: url("../assets/images/bg/bg.avif")) {
    .box .main::after {
      background-image: url("../assets/images/bg/bg.avif");
    }
  }
}
.box .main-no-background::after {
  content: "";
  background: none;
}
.box .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2D3436;
}
.box .footer__text {
  width: 285px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  /* City Light */
  color: #DFE4EA;
}
.box .footer__text-mobile {
  display: none;
  width: 57px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #DFE4EA;
}
.box .footer__span {
  font-weight: 700;
}
@media (min-width: 320px) {
  .box .footer {
    height: 50px;
  }
  .box .footer__text {
    display: none;
  }
  .box .footer__text-mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .box .footer {
    height: 100px;
  }
  .box .footer__text {
    display: flex;
  }
  .box .footer__text-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .box .footer {
    height: 100px;
  }
  .box .footer__text {
    display: flex;
  }
  .box .footer__text-mobile {
    display: none;
  }
}
.box .navigation-mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  position: absolute;
  padding: 100px 0px;
  background: #FFFFFF;
}
@media (min-width: 320px) {
  .box .navigation-mobile {
    left: calc(50% - 125px + 35px);
    height: 100%;
  }
}
@media (min-width: 768px) {
  .box .navigation-mobile {
    left: calc(50% - 125px + 259px);
    height: 100%;
    bottom: 0%;
  }
}
.box .navigation-mobile__box {
  padding: 16px;
  height: 54px;
  /* or 22px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 0;
  /* primary */
  color: #2D3436;
}
.box .navigation-mobile__box .navigation-mobile__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}
.box .navigation-mobile__box .navigation-mobile__text--about {
  width: 52px;
  height: 22px;
}
.box .navigation-mobile__box .navigation-mobile__text--timeline {
  width: 65px;
  height: 22px;
}
.box .navigation-mobile__box .navigation-mobile__text--bold {
  font-weight: 900;
}
.box .navigation-mobile__close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 32px;
  top: 23px;
}/*# sourceMappingURL=style.css.map */