html, body {
  width: 100%;
  height: 100%;
}

.header, .sidebar, .footer, .section {
  background: #D9D9D9;
}

.header {
  grid-area: header;
  padding: 32px;
}

@media (max-width: 767px) {
  .header {
    padding: 32px 16px;
    height: 100px;
  }
}
.footer {
  grid-area: footer;
  padding: 32px;
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 16px;
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .box {
    height: 900px;
    width: 960px;
    max-width: 960px;
    left: 240px;
    top: 30px;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 668px 100px;
    grid-template-areas: "header header" "main main" "footer footer";
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .box {
    height: 900px;
    width: 736px;
    max-width: 736px;
    left: 16px;
    top: 30px;
    position: absolute;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px 668px 100px;
    grid-template-areas: "header header" "main main" "footer footer";
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .box {
    height: 900px;
    width: 288px;
    max-width: 288px;
    left: 16px;
    top: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .main {
    border-radius: 0px;
    grid-area: main;
    width: 960px;
    height: 668px;
    display: grid;
    grid-template-columns: 200px 744px;
    grid-auto-rows: auto;
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .main {
    border-radius: 0px;
    grid-area: main;
    width: 736px;
    height: 668px;
    display: grid;
    grid-template-columns: 200px 520px;
    grid-auto-rows: 668px;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .main {
    border-radius: 0px;
    grid-area: main;
    width: 288px;
    height: 668px;
    display: block;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .section {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-auto-rows: 294px;
    gap: 16px;
    padding: 32px;
  }
}
@media (max-width: 767px) {
  .section {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    padding: 16px;
  }
}
@media (min-width: 1024px) {
  .article {
    height: 139px;
    width: 680px;
    background: #FFFFFF;
  }
}
@media (max-width: 1024px) {
  .article {
    width: 220px;
    height: 294px;
    background: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .article {
    width: 256px;
    height: 147px;
    background: #FFFFFF;
  }
}
.header__text {
  width: 69px;
  height: 25px;
  color: #000000;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.aside__text {
  width: 72px;
  height: 25px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding: 32px;
  margin: 0;
  color: #000000;
}

.article__text {
  width: 87px;
  height: 25px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  padding: 32px;
  margin: 0;
}

.footer__text {
  width: 62px;
  height: 25px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 0;
}